import pandas as pd
# Import SQLAlchemy `automap` and other dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [33]:
# Create an engine for the `emoji.sqlite` database
engine = create_engine("sqlite:///ncaa_Rank_Seed2018.sqlite", echo=False)

In [34]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['ranks', 'seeds']

In [35]:
# Use Inspector to print the column names and types
columns = inspector.get_columns('ranks')
for c in columns:
    print(c['name'], c["type"])

Rank INTEGER
Name VARCHAR(255)
Team VARCHAR(255)
PTS INTEGER

In [36]:
engine.execute('SELECT * FROM ranks LIMIT 10').fetchall()

[(1, 'Mike Daum', 'South Dakota St.', 314),
 (2, 'Justin Wright-Foreman', 'Hofstra', 283),
 (3, 'Chris Clemons', 'Campbell', 279),
 (4, 'Antoine Davis', 'Detroit Mercy', 274),
 (5, 'Yoeli Childs', 'BYU', 273),
 (6, 'Jermaine Marrow', 'Hampton', 259),
 (7, 'Bubba Parham', 'VMI', 258),
 (8, 'Carsen Edwards', 'Purdue', 255),
 (9, 'Jordan Ford', "Saint Mary's (CA)", 248),
 (10, 'David Jenkins', 'South Dakota St.', 248)]

In [39]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
Ranks = Base.classes.ranks

In [40]:
# Start a session to query the database
session = Session(engine)

In [42]:
# query the database
session.query(Ranks.Rank, Ranks.Name, Ranks.Team,Ranks.PTS).first()

(1, 'Mike Daum', 'South Dakota St.', 314)

In [30]:
results = session.query(Teams.name, Teams.region).filter(Teams.region == "SOUTH").all()

In [31]:
print (results)

[('Wake Forest', 'SOUTH'), ('Texas Southern', 'SOUTH'), ('North Carolina', 'SOUTH'), ('Kansas St', 'SOUTH'), ('Arkansas', 'SOUTH'), ('Seton Hall', 'SOUTH'), ('Minnesota', 'SOUTH'), ('Middle Tenn.', 'SOUTH'), ('Butler', 'SOUTH'), ('Winthrop', 'SOUTH'), ('Cincinnati', 'SOUTH'), ('UCLA', 'SOUTH'), ('Kent St.', 'SOUTH'), ('Dayton', 'SOUTH'), ('Wichita St', 'SOUTH'), ('Kentucky', 'SOUTH'), ('Northern Ky.', 'SOUTH')]